<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Bucks2Bands is a place for new bands to face-off for their fans' favor and earn some extra bucks for their tours and production.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href='/users/sign_in'>Sign In</a> or check out <a href='/faceoff'>this week's faceoff</a>!</p>
</div>
